.b02 {
    @include block;
}
.b02__container {
}
.container {
}
.b02__title {
    max-width: 780px;
}

.b02__box {
    display: flex;    
    gap: 72px;
    align-items: center;

    @media screen and (max-width: 992px) {
        gap: 20px;
    }

    @media screen and (max-width: 480px) {
        flex-direction: column;
        gap: 30px;
    }
}
.b02__img {
    border-radius: var(--brs);
    @media screen and (max-width: 992px) {
        width: 40%;
    }

    @media screen and (max-width: 768px) {
        align-self: flex-start;
    }

    @media screen and (max-width: 480px) {
        align-self: flex-start;
        width: 100%;
    }
}
.b02__adv {
}
.b02-adv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 113px 107px;

    @media screen and (max-width: 992px) {
        gap: 60px 20px;        
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 24px 20px;
    }
}
.b02-adv__item {
}
.b02-adv__title {
    margin-bottom: 10px;
    
    @include f_22_600;
}
.b02-adv__descr {
    font-size: 18px;
    line-height: 1.5;
}