.breadcrumbs {
	margin-bottom: 17px;
	font-size: 14px;
	font-weight: 500;
	color: #fff;

	@media screen and (max-width: $break_md) {
		font-size: 13px;
	}

	@media screen and (max-width: $break_sm) {
		margin-bottom: 8px;
	}

	a, a span {
		color: #fff;
		text-decoration: none;
	}

	a:not([class]) {
		text-decoration: none;
	}
	
}
