.btn {
	display: inline-flex;
	padding: 15px 35px;

	color: #fff;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.45;
	font-family: 'Gilroy', sans-serif;
	text-decoration: none;

	background-color: var(--color-01);
	border-radius: 20px;
	border: none;

	transition: background-color .25s, color .25s, transform .25s;
	cursor: pointer;

	@media screen and (max-width: $break_sm) {
		padding: 13px 25px;
		
		font-size: 16px;
	}
}

.btn:hover:not(:disabled) {
	transform: translateY(-2px);
	background-color: darken(#28579A, .1);
}

.btn:focus {
	background-color: darken(#28579A, .1);
}

.btn:disabled {
	opacity: 0.4;
}

.btn-arrow {
	display: inline-block;

	height: 48px;
	width: 150px;
	
	color: #fff;

	background-color: #2C2C2C;
	border: none;

	background-image: url('../img/arrow-white.svg');
	background-size: 45px 16px;
	background-position: center;
	background-repeat: no-repeat;

	cursor: pointer;

	transition: .25s;

	&:hover {
		background-color: #FF7043;
	}
}

.btn-light {
	background-color: #fff;
	color: var(--color-text);
	
	&:hover:not(:disabled) {
		background-color: #fff;
		color: var(--color-text);
	}
}