@use "sass:math";

// Брейкпоинты

$break_lg: 1200px;
$break_md: 992px;
$break_ssm: 800px;
$break_sm: 768px;
$break_xs: 480px;
$break_xxs: 330px;


:root {

    // Цвета
    --color-text: #333;
    --color-01: #28579A;
    --color-02: #828282;
    --color-03: #f5f5f5;
    --color-04: #464646;

    // Шрифты
    --font-family: 'Gilroy', sans-serif;

    // Скругления
    --brs: .5rem;

    // Размеры
    --mainGap: 20px;
    @media (max-width: $break_lg) {
        --mainGap: 10px;
    }

    --block-pt: 10rem;
    @media (max-width: $break_md) {
        --block-pt: 6rem;
    }

    --block-pb: 14rem;
    @media (max-width: $break_md) {
        --block-pb: 10rem;
    }

    --block-indent: 10rem;
    @media (max-width: $break_lg) {
        --indentBlocks: 6rem;
    }

    --heroMinCol: calc(100% / 5 - 3 / 4 * var(--mainGap));
    --heroMaxCol: calc((100% - var(--heroMinCol) - 3 / 4 * var(--mainGap)) / 3);
}