.b01
    .b01__container.container
        .b01__box
            h1.b01__title Рассчитайте стоимость бурения скважины на вашем участке «под ключ» всего за 2 минуты!
            .b01__descr
                p Ответьте всего на 5 вопросов и получите гарантированную<br> <span>скидку 10 000 рублей</span> на бурение скважины
            button.b01__button.btn Рассчитать стоимость