.b02
	.b02__container.container
		h2.b02__title.b-title Ежегодно бурим 270+ скважин для жителей Ленинградской области
		.b02__box
			img(src="../../img/content/b02.jpg", alt="").b02__img
			.b02__adv.b02-adv
				.b02-adv__item
					.b02-adv__title Фиксированная стоимость
					.b02-adv__descr Фиксированная стоимость бурения до начала работ, никаких скрытых условий
				.b02-adv__item
					.b02-adv__title 10+ лет опыта
					.b02-adv__descr Мастера с опытом более 10 лет, способны справиться с самой сложной задачей
				.b02-adv__item
					.b02-adv__title 14 буровых установок
					.b02-adv__descr 14 буровых установок. Уже завтра сможем заехать к вам на участок
				.b02-adv__item
					.b02-adv__title Cовременная техника
					.b02-adv__descr Cовременная техника, способная решить любую задачу
