.b03
	.b03__container.container
		h2.b03__title.b-title Наши услуги
		.b03__box
			a(href="#", style="background-image: url('../img/content/b03.jpg');").b03__item.b03-item
				.b03-item__title Бурение скважины на песок
			a(href="#", style="background-image: url('../img/content/b03.jpg');").b03__item.b03-item
				.b03-item__title Бурение артезианской скважины
			a(href="#", style="background-image: url('../img/content/b03.jpg');").b03__item.b03-item
				.b03-item__title Бурение скважины «под ключ»
			a(href="#", style="background-image: url('../img/content/b03.jpg');").b03__item.b03-item
				.b03-item__title Промывка (прочистка) скважины
			a(href="#", style="background-image: url('../img/content/b03.jpg');").b03__item.b03-item
				.b03-item__title Подводка воды от скважины в дом