.b05
	.b05__container.container
		h2.b05__title.b-title 5 простых шагов к чистой питьевой воде на вашем участке
		ol.b05__box
			li.b05__item.b05-item
				.b05-item__title Консультируем и даем предварительный расчет
				.b05-item__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
			li.b05__item.b05-item
				.b05-item__title Выезд специалиста к вам на участок
				.b05-item__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
			li.b05__item.b05-item
				.b05-item__title Подписание договора с гарантиями
				.b05-item__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
			li.b05__item.b05-item
				.b05-item__title Выполнение работ
				.b05-item__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
			li.b05__item.b05-item
				.b05-item__title Выдача документов качества
				.b05-item__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore1

