.b07.pt0
	.b07__container.container
		.b07__box.b07-box
			.b07-box__item.b07-item
				.b07-item__digit 14
				.b07-item__box
					.b07-item__title буровых установок
					.b07-item__descr ежедневно трудятся на участках ваших соседей
			.b07-box__item.b07-item
				.b07-item__digit 264+
				.b07-item__box
					.b07-item__title скважины
					.b07-item__descr ежегодно выполняет наша компания на участках Ленинградской обсласти
			.b07-box__item.b07-item
				.b07-item__digit 100%
				.b07-item__box
					.b07-item__title наших клиентов
					.b07-item__descr довольны качеством услуг выполненных нашей компанией