.b08
	.b08__container.container
		h2.b08__title.b-title Фото с наших объектов
		.b08__slider.b08-slider.b08-slider-js.swiper
			.b08-slider__wrapper.swiper-wrapper

				a(href="../../img/content/slider/01.jpg" data-fslightbox="slider").b08-slider__item.swiper-slide
					img(src="../../img/content/slider/01-min.jpg", alt="").b08-slider__img
					
				a(href="../../img/content/slider/02.jpg" data-fslightbox="slider").b08-slider__item.swiper-slide
					img(src="../../img/content/slider/02-min.jpg", alt="").b08-slider__img
					
				a(href="../../img/content/slider/04.jpg" data-fslightbox="slider").b08-slider__item.swiper-slide
					img(src="../../img/content/slider/04-min.jpg", alt="").b08-slider__img
					
				a(href="../../img/content/slider/03.jpg" data-fslightbox="slider").b08-slider__item.swiper-slide
					img(src="../../img/content/slider/03-min.jpg", alt="").b08-slider__img
					
				a(href="../../img/content/slider/01.jpg" data-fslightbox="slider").b08-slider__item.swiper-slide
					img(src="../../img/content/slider/01-min.jpg", alt="").b08-slider__img
					
				a(href="../../img/content/slider/02.jpg" data-fslightbox="slider").b08-slider__item.swiper-slide
					img(src="../../img/content/slider/02-min.jpg", alt="").b08-slider__img
					
				a(href="../../img/content/slider/04.jpg" data-fslightbox="slider").b08-slider__item.swiper-slide
					img(src="../../img/content/slider/04-min.jpg", alt="").b08-slider__img
					
				a(href="../../img/content/slider/03.jpg" data-fslightbox="slider").b08-slider__item.swiper-slide
					img(src="../../img/content/slider/03-min.jpg", alt="").b08-slider__img
					

					
			.b08-slider__prev.swiper__prev
			.b08-slider__next.swiper__next