.b09
	.b09__container.container
		h2.b09__title.b-title Есть вопросы или хотите заказать услугу?
		.b09__descr Оставьте заявку и наш менеджер свяжется с вами. Так же мы есть в What’sApp и Telegram.

		.b09__box
			button.b09__button.btn.btn-light Рассчитать стоимость

			.b09__soc-box
				.b09__socials.socials
					a.socials__item(href="#")
						img(src="img/icons/socials/01.svg", alt="")
					a.socials__item(href="#")
						img(src="img/icons/socials/02.svg", alt="")
				.b09__action Или напишите в мессенджерах
