
.breadcrumbs(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
	a(href='#', itemprop='url')
		span(itemprop='title') Главная 
	| / 
	a(href='#', itemprop='url')
		span(itemprop='title') Услуги 
	| / 
	span(itemprop='title') Бурение скважины на песок

	
