.content
    .content__container.container
        
        h2 Особенности бурения скважин на песок
        p Автономная система водоснабжения загородного дома невозможна без источника воды. Если бурение артезианской скважины на глубину 200 м нерентабельно, хорошим вариантом решения проблемы может стать собственная песчаная скважина. Наша компания предоставляет комплексные услуги по бурению скважин на песок. Скважина на песок пробуривается до первого песчаного слоя, в котором скапливается дождевая вода, но предварительно она проходит водоочистку.
        p Производительность таких скважин напрямую зависит от глубины. В среднем это около 1 куба воды в час. Обычно этого объема достаточно, чтобы обеспечить частный дом водой, особенно при наличии гидроаккумуляторов и другого современного оборудования.

        h2 Сравнение видов водоносных источников
        .columns
            .col
                h3 Скважина на песок
                h4 Плюсы
                ul 
                    li Обширный выбор вариантов установки конструкции
                    li Низкая стоимость создания скважины
                    li Хорошее качество воды, не превышающее показатели железа и жесткости
                h4 Минусы
                ul 
                    li глубина 40-90 метра
                    li небольшой срок эксплуатации источника
                    li отсутствие стабильного наличия воды в горизонте
                    li нестабильность наличия воды из-за влияния внешних факторов, в особенности климата
                .btn.columns__btn Заказать услугу от 2500 руб
            .col
                h3 Артезианская скважина
                h4 Плюсы
                ul 
                    li большое количество воды
                    li срок эксплуатации более 30-40 лет
                    li водоносные горизонты имеют защиту от загрязнения с поверхности
                    li статический химический состав
                h4 Минусы
                ul
                    li глубина 40-250 метра
                    li высокая стоимость устройства конструкции
                    li часто содержится железо, жесткость выше нормы, что подразумевает доп. расходы на водоочистку
                .btn.columns__btn Заказать услугу от 2500 руб
            

        h2 Стоимость

        .table
            table
                thead
                    tr
                        th Район СПБ и Ленинградской обл.
                        th Песчаная
                        th Артезианская
                        th Цена за 1 м
                tbody
                    tr
                        td 
                            b Название района
                        td 15-25 м 
                        td 50 - 100 м
                        td 
                            b 2300 ₽/м
                    tr
                        td 
                            b Название района
                        td 15-25 м 
                        td 50 - 100 м
                        td 
                            b 2300 ₽/м
                    tr
                        td 
                            b Название района
                        td 15-25 м 
                        td 50 - 100 м
                        td 
                            b 2300 ₽/м
                    tr
                        td 
                            b Название района
                        td 15-25 м 
                        td 50 - 100 м
                        td 
                            b 2300 ₽/м