header.header
	.container.header__container
		a(href="").header__logo.logo
			img(src="../../img/logo.png", alt="").logo__img
			.logo__descr бурение скважин в Санкт-Петербурге
		nav.header__nav.nav
			ul.nav__list
				li.nav__item
					a(href="#").nav__link Услуги
					ul.nav__submenu.submenu
						li.submenu__item
							a(href="#").submenu__link Бурение скважины на песок
						li.submenu__item
							a(href="#").submenu__link Бурение артезианской скважины
						li.submenu__item
							a(href="#").submenu__link Бурение скважины «под ключ»
						li.submenu__item
							a(href="#").submenu__link Промывка (прочистка) скважины
						li.submenu__item
							a(href="#").submenu__link Подводка воды от скважины в дом
				li.nav__item
					a(href="#").nav__link О компании
				li.nav__item
					a(href="#").nav__link Проекты
				li.nav__item
					a(href="#").nav__link Контакты
		.header__contacts.header-contacts
			.header-contacts__socials.socials
				a.socials__item(href="#")
					img(src="../../img/icons/socials/01.svg", alt="")
				a.socials__item(href="#")
					img(src="../../img/icons/socials/02.svg", alt="")
			.header-contacts__info.contacts-info
				a(href="tel:+78123170720").contacts-info__phone 8 812 317-07-20
				a(href="mailto:info@spb-skvazhina.ru").contacts-info__mail info@spb-skvazhina.ru



