.mobile-menu
    .mobile-menu__wrapper
        
        .socials
            a.socials__item(href="#")
                img(src="img/icons/socials/01.svg", alt="")
            a.socials__item(href="#")
                img(src="img/icons/socials/02.svg", alt="")

        .contacts-info
            a(href="mailto:info@spb-skvazhina.ru").contacts-info__mail info@spb-skvazhina.ru