include ../includes/mixins

doctype html
html(lang="ru-RU")
    include ../includes/head
    body
        //- include ../includes/preloader
        include ../includes/header
        main
            include ../includes/content-header
            include ../includes/content
        include ../includes/b09
        include ../includes/b02
        include ../includes/b05
        include ../includes/b08-copy
        include ../includes/b06-copy
        include ../includes/footer
        include ../includes/mobile-menu
        //- include ../includes/b01
        //- include ../includes/b03
        //- include ../includes/b04
        //- include ../includes/b07
